@font-face {
  font-family: 'Roboto Serif';
  src: url('/assets/fonts/RobotoSerif_28pt_SemiCondensed-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
}

/* Áp dụng font cho toàn bộ trang */
body {
  font-family: 'Roboto Serif', sans-serif;
}

/* Đảm bảo font của các component Ant Design cũng sẽ sử dụng font này */
.ant-typography, .ant-btn, .ant-card, .ant-input, .ant-select, .ant-modal, .ant-table, .ant-tabs {
  font-family: 'Roboto Serif', sans-serif !important;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
